@mobile: ~"only screen and (max-width: 768px)";
@tablet: ~"only screen and (max-width: 992px)";

.main-view.projects {
  padding-top: 70px;
  overflow: hidden;
  .project {
    padding: 1.5em 3em 3em;
    font-family: 'Quicksand';
    font-weight: 500;
    font-size: 1.25em;
    overflow: hidden;

    h1 {
      font-weight: 500;
      font-size: 2.25em;

      a {
        display: inline-block;
        padding-bottom: 3px;
        font-size: 0.5em;
        color: #049372;
        vertical-align: middle;
        transition: color 0.25s ease;
        
        &.first {
          margin-left: 0.5em;
        }

        &.icon-before-github:hover {
          color: #fff;
        }

        &.icon-before-youtube:hover {
          color: #fff;
        }
      }
    }

    .label {
      display: inline-block;
      margin: 0 3px;
      background: #fff;
      color: #26C281;
    }

    .description {
      margin-top: 1.5em;
      margin-bottom: 3em;
    }

    .image-slides {
      position: relative;
      text-align: center;

      .transparent-button {
        position: absolute;
        display: block;
        top: 40%;
        transition: color 0.3s ease;
        cursor: pointer;
        color: #049372;
        user-select: none;

        &:hover {
          color: #fff;
        }

        &:before {
          font-size: 3.5em;

          @media @tablet {
            font-size: 2.5em;
          }
        }

        &.prev-image-button {
          left: 6%;

          @media @tablet {
            left: 0;
          }
        }

        &.next-image-button {
          right: 6%;

          @media @tablet {
            right: 0;
          }
        }

        @media @tablet {
          top: 0;
          position: relative;
          display: inline-block;
        }
      }

      >ul {
        height: 300px;
        list-style: none;
        padding: 0;
        margin: 0;
        margin-bottom: 0.5em;

        >li {
          position: absolute;
          display: block;
          width: 100%;
          text-align: center;
          opacity: 0;
          transition: opacity 0.75s, transform 0.75s;
          
          &.current {
            opacity: 1;
            transform: translate(0, 0);
          }

          &.prev {
            transform: translate(-75%, 0);
          }

          &.next {
            transform: translate(75%, 0);
          }

          >img {
            max-height: 300px;

            @media @mobile {
              max-height: 200px;
            }
          }
        }

        @media @mobile {
          height: 200px;
        }
      }

      &#aerhythm {
        >ul {
          height: 450px;

          >li >img {
            max-height: 450px;

            @media @mobile {
              max-height: 350px;
            }
          }

          @media @mobile {
            height: 350px;
          }
        }
      }
    }

    &.alternate-section {
      background: #fff;
      color: rgb(100, 100, 100);

      h1>a {
        color: rgb(150, 150, 150);

        &.icon-before-github:hover {
          color: rgb(50, 50, 50);
        }

        &.icon-before-youtube:hover {
          color: #F64747;
        }
      }

      .label {
        background: #26C281;
        color: #fff;
      }

      .image-slides > .transparent-button {
        color: rgb(150, 150, 150);
        &:hover {
          color: #26C281;
        }
      }
    }

    @media @tablet {
      padding: 2em 2em;
    }

    @media @mobile {
      font-size: 1.0em;
    }
  }

  .next-button {
    background: #F5AB35;
    font-size: 1.25em;
    
    &:hover {
      &:after {
        color: #F5AB35;
      }
      
      color: #F5AB35;
      background: #fff;
    }

    @media @mobile {
      font-size: 1.0em;
    }
  }
}